<ion-view view-title="" hide-nav-bar="true" cache-view="false">

<ion-header-bar  style=" height:75px;">
	<div class="MainHeader" align="center">
    	<div class="MainHeaderRight" ng-if="showMenuButton">
        	<div class="MainHeaderRightDiv" ng-click="toggleRightSideMenu()">
        		<img src="img/menu.png" style="width:100%" />
            </div>
        </div>
        <div class="MainHeaderLeft" ng-click="goBack()">
        	<div class="MainHeaderLeftDiv">
        		<img src="img/left_arrow.png" style="width:100%" />
            </div>
        </div>
    </div>
</ion-header-bar>


  <ion-content style="margin-top:0px;">

	<!--	
      <div class="BackgroundImage" >
          <img src="img/bck.jpg" style="width: 100%" />
      </div>
	-->
      <div style="position:relative">
	  
        <div class="LogoImage" align="center">
          <img src="img/bookeep.png" style="width: 80%" />
        </div>
	
			  <div style="width: 100%; margin-top: 10px;" align="center">
				<div class="inputDiv">
				  <label class="item item-input  itemSelected"  >
					<div   style="height:38px; margin-top:-3px; text-align:center !important; width:100%;" class="itemSelectedBox"  >
					  <input type="text"  placeholder="סיסמה ישנה" class="ion-input-select--large itemSelectedBoxDate" ng-model="passwordfields.oldpassword">
					</div>
				  </label>
				</div>
			  </div>	
			  
			  <div style="width: 100%; margin-top: 10px;" align="center">
				<div class="inputDiv">
				  <label class="item item-input  itemSelected"  >
					<div   style="height:38px; margin-top:-3px; text-align:center !important; width:100%;" class="itemSelectedBox"  >
					  <input type="text"  placeholder="סיסמה חדשה" class="ion-input-select--large itemSelectedBoxDate" ng-model="passwordfields.newpassword">
					</div>
				  </label>
				</div>
			  </div>			  

		<!--
        <div class="forgotPass">
            שכחת סיסמא?
        </div>
		-->
        <div class="LogoImage" ng-click="changePassword()" align="center">
          <img src="img/send.png" style="width: 80%" />
        </div>



  </ion-content>
</ion-view>
