<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable" align-title="center">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-header-bar dir="rtl" align-title="center" class="bar-stable">
     
	  
	<img src="img/menu.png" ng-click="toggleRightSideMenu()" style="width:30px" />
	  
	<h1 class="title">תפריט</h1>
	  
    </ion-header-bar>
    <ion-content>
      <ion-list>

        <ion-item style="text-align:right; direction:rtl;" menu-close  ng-click="navigateHome()" >
          ראשי
        </ion-item>

        <ion-item style="text-align:right; direction:rtl;" menu-close  ng-click="navigatePage('app.scan')" >
          העלאת מסמך 
        </ion-item>

        <ion-item style="text-align:right; direction:rtl;" menu-close  ng-click="navigatePage('app.report')" >
        דוח רווח הפסד
        </ion-item>

        <ion-item style="text-align:right; direction:rtl;" menu-close  ng-click="navigatePage('app.waiting')" >
          מסמכים בתהליך
        </ion-item>

        <ion-item style="text-align:right; direction:rtl;" menu-close  ng-click="navigatePage('app.update_info')" >
        שינוי סיסמה
        </ion-item>		
		
        <ion-item style="text-align:right; direction:rtl;" menu-close  ng-click="logOut()" ng-if="userLoggedIn" >
          התנתקות
        </ion-item>		
		

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
